{% extends "layouts/layout.html" %} {% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-5">
            <img src="../static/assets/1.png" class="img-responsive" style="width:100%">
        </div>

        <div class="col-lg-6">
            <div style="margin-top : 15%">
                <h1 class="display-4">Hola!{{current_user.username }}</h1>
                <a class="btn btn-primary mr-sm-2 " href="{{ url_for( 'users.logout') }} ">Log Out</a>
                <a class="btn btn-primary btn-lg" href="/register" role="button">Create Account</a>

                </p>
            </div>
        </div>

    </div>

</div>


{% endblock content %}