{% extends "layouts/layout.html" %} {% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <img src="./static/assets/1.png" class="img-responsive" style="width:100% ">
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-6 mt-4">
            <h3 class="">My Details👋</h3>
            <div class="card border-info mt-5 bg-gradient-primary" style="max-width: 100%">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="card-title">👦User Name : </h5>
                            <h5 class="card-text ">📧 Email :</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="card-title">{{current_user.username }}</h5>
                            <h5 class="card-text">{{current_user.email }}</h5>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}