{% extends "layouts/layout.html" %}

{% block content %}
    <h1>Message</h1>
    <input id="msg" type="text"/>
    <button onclick="sendMessage()">submit</button>
    <ul id="messages">

    </ul>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        function sendMessage () {
            var data = {
                "to": "user2",
                "from": "user1",
                "msg": document.getElementById("msg").value
            }
            console.log(data);
            socket.emit("message", data)
        }

        socket.on("message", (data) => {
            console.log(data);
        });
        
    </script>
{% endblock content %}